button {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 150px;
  height: 50px;
  padding: 0 0.9375rem

  text-align: center;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;

  border-radius: 0.125rem;

  font-family: arial;
  font-size: 0.875rem;
  font-weight: 500;
  &:hover {
    cursor: pointer;
  }
}
