.class {
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: capitalize;

  color: #00003c;

  font-family: DINOT-Cond;
  font-size: 42px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.05;
  margin: 0;
}
