@import "./gradients";

/**
 * Brand Colors:
**/
$rocket-blue: #0073D1;
$navy: #00003C;
$yellow: #F0FF02;
$light-blue-1: #EEFCFF;
$light-blue-2: #BCE1F7;
$light-blue-3: #76C2F3;
$electric-blue: #080CF1;
$light-pink: #FCCFD9;
$pink: #FF5892;

/**
 * Supporting Colors:
**/
$gray-1: #F5F5F5;
$gray-2: #E6E6E6;
$gray-3: #D5D5D5;
$red: #FF511C;
